/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: 400;
}

h1 {
	font-size: 10rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 5px;
}

h2 {
	font-size: 3.8rem;
	letter-spacing: 0.2rem;
  word-spacing: 0.8rem;
  font-family: 'Six Caps', sans-serif;
}

h3 {
	font-size: 2.6rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

h4 {
	font-size: 2.0rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
  font-family: 'Yesteryear', cursive;
  color: rgba(56, 75, 96. 1.0);
}

header {
	grid-area: header;
	background: #455A64;
	color: white;
	padding: 4rem;
	text-align: center;
}

/* Base Styles & Grid Setup
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	scroll-behavior: smooth;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 200px;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav header"
    "main main main main"
    "submain submain submain submain"
    "footer footer footer footer";
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "burger items items"
    "burger items items";
  grid-area: nav;
  width: 100%;
  height: 100%;
}

.burger { grid-area: burger; 
  background: #D1EDF2;
}

.items { grid-area: items; 
  background: #D1EDF2;
}

header { grid-area: header; 
  background: #D1EDF2;
}

main { grid-area: main; 
  background: #D1EDF2;
  width: 100%;
  height: 100%;
}

.submain { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 110;
  gap: 0px 0px;
  grid-template-areas:
    "take-action participate donate sign-up revive"
    "take-action participate donate sign-up revive"
    "take-action participate donate sign-up revive";
  grid-area: submain;
  background: red;
  width: 100%;
}

.take-action {
  background: red;
}

.participate {
  background: violet;
}

.donate {
  background: burlywood;
}

.sign-up {
  background: orangered;
}

.revive {
  background: hotpink;
}

footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 150px 125px;
  gap: 0px 0px;
  grid-template-areas:
    "logo-footer links sign-up"
    "take-action social-media social-media";
  grid-area: footer;
}

.logo-footer { grid-area: logo-footer; 
  background: #838B96;
  width: 100%;
}

.links { grid-area: links; 
  background: #838B96;
}

.sign-up { grid-area: sign-up; 
  background: #838B96;
}

.take-action { grid-area: take-action; 
  background:  #838B96;
}
.social-media { grid-area: social-media; 
  background: #838B96;
}

/* Burger Stacker
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.burger .burger_stacker{
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.burger .burgerlong {
  width: 85px;
  height: 8px;
  background-color: black;
  margin: 6px 0;
  margin-bottom: 12px;
  margin-top: 12px;
}

.burger .burgershort {
  width: 65px;
  height: 8px;
  background-color: black;
  margin: 6px 0;
  margin-bottom: 12px;
  margin-top: 12px;
}

/* Nav Item List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.items li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-left: 100px;
  padding-top: 50px;
}

.items li a {
  display: inline-block;
  color: #111;
  text-align: center;
  text-decoration: none;
}

.items li a:hover {
  color: white;
}

/* Header Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo {
  width: 100%;
  height: 100%
}

.img-logo {
  padding: 10px 0;
  transition: transform .2s;
}

.img-logo:hover {
  transform: scale(1.2)
}

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.plasfacts {
  text-align: left;
  margin-left: 100px;
  font-size: 50px;
  font-weight: lighter;
}

button {
  border-radius: 2px;
  position: absolute;
  border-radius: 15px;
  margin-top: 90px;
  margin-left: 1450px;
  border-color: #073B4C;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  color: #073B4C;
  font-size: 24px;
  font-weight: 600;
}

button:hover {
  background-color: #118AB2;
  color: #ffffff;
  cursor:pointer;
}

.blockquote {
	width: 75%;
	margin: 2em auto;
	font-style: italic;
	padding: 1em 2em;
	font-size: 1em;
	line-height: 1.4;
	position: relative;
	background: rgba(182, 204, 193, 0.5);
}

.THREE-img {
  border-radius: 50%;
  margin: 50px 115px;
  text-align: center;
}

.THREE-buttons {
  text-align: center;
  display: inline-block;
  margin: 20px 120px;
  padding: 20px 0;
  transition: transform .2s;
}

.THREE-buttons:hover {
  transform: scale(1.2)
}



/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
  object-fit: scale-down;
}

.PlasticCollection {
  width: 100%;
  height: auto;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo-footer {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 5.2% 0;
}

.img-logo-footer {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 5.2% 0;
  transition: transform .2s;
}

.img-logo-footer:hover {
  transform: scale(1.2)
}

.links ul {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 54px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}

.links li {
  margin: 0;
  padding: 0;
  display: block;
}

.links li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.links li a:hover {
  color: #D1DDE6;
}

/* Fabrizio Van Marciano. (2019). 6 Simple CTA Button Styles With Hover Effects For Your Website. 
Retrieved from: https://www.fabriziovanmarciano.com/button-styles/?cn-reloaded=1 */

.CTAbutton {
color: #fff;
text-transform: uppercase;
text-decoration: none;
background: #2EB1AB;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
margin: 25px;
transition: all 0.4s ease 0s;
}

.CTAbutton:hover{
background: #B1E1DF;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

/* Footer Sign Up
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  box-sizing: border-box;
}

.container {
  height: auto;
  margin: 0 auto;
  padding: 40px;
  padding-left: auto;
  padding-right: auto;
  position: relative;
  text-align: center;
}

input[type=text], input[type=password] {
  width: 30%;
  padding: 5px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 10px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #2EB1AB;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60.5%;
  opacity: 1;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
}

.registerbtn:hover {
  opacity: 0.6;
  background: #B1E1DF;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Responsive Design
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 460px) {
  .grid-container {
    display: block;
  }

header,
nav,
aside,
main,
footer {
  width: 100%;
  min-height: 200px;
}